.DS_Store
*.pyc
media/

__pycache__/

# Ignore collected static and media files
mediafiles/
staticfiles/

# Ignore the local DB
db.sqlite3

# Ignored by the build system
/setup.cfg
venv/

# Ignore IDE files
.idea/
