#server
Django
django-environ==0.10.0
psycopg2-binary==2.9.9
django-cors-headers
dj-stripe
djangorestframework
#google-api-python-client

#ml
# torch (for ultralytics)
# https://download.pytorch.org/whl/cpu/torch-2.0.1%2Bcpu-cp311-cp311-linux_x86_64.whl
# numpy==1.24.3
# opencv-python
# matplotlib
# scipy
# tensorflow-cpu
# ultralytics
# #lapx
# openai
# pytube