{% load static %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<style>
    /* Custom CSS for delete button */
    .video-js .vjs-delete-button {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #ff5733;
        color: #fff;
        border: none;
        padding: 8px;
        border-radius: 5px;
        font-size: 14px;
    }
    
    .is-custom-highpoint {
        background-color: #452DE8;
        color: white;
    }
    
    .is-color-highpoint-pink {
        color: #D62EE7;
    }

    .is-color-highpoint-pink-light {
        color: #f1bef7;
    }

    .is-color-highpoint-blue {
        color: #452DE8;
    }
    
    .outlined-div {
        border: 1px solid #D62EE7; /* Specify the color of the border */
    }

    .navbar-brand:empty {
        display: none;
    }

    .is-preview-size {
        width: 198px;
        height: 112px;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>highpoints.ai</title>
    <link rel="icon" type="image/x-icon" href="{% static 'video_processor/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://unpkg.com/vue@3.2.45/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet"/>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/youtube.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar is-transparent is-fixed-top is-mobile" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <img class="image is-64x64" src="{% static "video_processor/logo-3.png" %}" type="image/png"/>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="Menu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div class="navbar-menu" id="Menu">
            <div class="navbar-start">
                {% if request.user.is_authenticated%}
                <form class="navbar-item" id="home-form" method="post" action="{% url 'homepage' %}">
                    {% csrf_token %}
                    <button class="button is-link is-light is-size-4" type="submit">Dashboard</button>
                </form>
                {% else %}
                <div class="navbar-item">
                    <a href="{% url 'homepage' %}" class="is-responsive has-text-weight-light px-1 is-size-4">Overview</button>
                </div>
                <div class="navbar-item">
                    <a href="{% url 'homepage' %}#playersInfo" class="is-responsive has-text-weight-light px-1 is-size-4">Players</a>
                </div>
                <div class="navbar-item">
                    <a href="{% url 'homepage' %}#enterprise" class="is-responsive has-text-weight-light px-1 is-size-4">API</a>
                </div>
                {% endif %}
            </div>
            <div class="navbar-end">
                {% if request.user.is_authenticated %}
                <div class="navbar-item">
                    <form id="upload-form" method="post" action="{% url 'uploader' %}">
                        {% csrf_token %}
                        <button class="button is-success is-light is-responsive is-size-4" type="submit">Upload</button>
                    </form>
                </div>
                <div class="navbar-item">
                    <form id="subscription-form" method="post" action="{% url 'plans' %}">
                        {% csrf_token %}
                        <button class="button is-link is-light is-responsive is-size-4" type="submit">Subscription</button>
                    </form>
                </div>
                <div class="navbar-item">
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="button is-danger is-light is-responsive is-size-4" type="submit">Log out {{request.user}}</button>
                    </form>
                </div>
                {% else %}
                <div class="navbar-item">
                    <form id="signup-form" method="post" action="{% url 'signup' %}">
                        {% csrf_token %}
                        <button class="button is-link is-light is-responsive is-size-4" type="submit">Signup</button>
                    </form>
                </div>
                <div class="navbar-item">
                    <form id="login-form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <button class="button is-link is-light is-responsive is-size-4" type="submit">Login</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        
    </nav>
    
    <section class="section is-mobile">
        {% block content %}
        {% endblock %}
    </section>
    
    <footer class="footer has-background-white">
        <div class="content is-centered has-text-centered">
            <p class="has-text-grey-light has-text-weight-light">Highpoint Labs LLC. 2024</p>
        </div>
    </footer>
    
    {% block scripts %}
    {% endblock %}
</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        
        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
                
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                
                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
                
            });
        });
        
    });
</script>
</html>