{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>highpoint.ai</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://vjs.zencdn.net/8.6.1/video-js.css" rel="stylesheet"/>
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/youtube.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                highpoint.ai
                {% comment %} <figure class="image is-32x32">
                    <img src="{% static "video_processor/logo-2.jpg" %}">
                </figure> {% endcomment %}
            </a>
            <div class="navbar-dropdown is-boxed has-shadow">
                <a href="/" class="navbar-item">Home</a>
                {% if request.user.is_authenticated %}
                <form id="logout-form" method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="button is-small is-fullwidth is-white is-clickable" type="submit">Log out {{request.user}}</button>
                  </form>
                {% else %}
                <a href="{% url 'signup' %}" class="navbar-item"><strong>Sign up</strong></a>
                <a href="{% url 'login' %}" class="navbar-item">Log in</a>
                {% endif %}
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="navbar-item navbar-end">
            <a href="{% url 'uploader' %}" class="navbar-item icon has-text-info is-medium" onclick=""><i class="fas fa-plus"></i></a>
        </div>
        {% endif %}
    </nav>
    
    <section class="section is-mobile">
        {% block content %}
        {% endblock %}
    </section>
    
    <footer class="footer has-background-white">
        <div class="content is-centered has-text-centered">
            <p class="is-size-7 has-text-weight-light">Highpoint Labs LLC. 2024</p>
        </div>
    </footer>
    
    {% block scripts %}
    {% endblock %}
</body>
</html>