{% extends 'base.html' %}

{% block content %}
<style>
    /* Custom CSS for delete button */
    .video-js .vjs-delete-button {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #ff5733;
        color: #fff;
        border: none;
        padding: 8px;
        border-radius: 5px;
        font-size: 14px;
    }

    .is-custom-highpoint {
        background-color: #452DE8;
        color: white;
    }
</style>
{% if user.is_authenticated %}
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
</head>
<body>
    <section class="is-mobile" id="app">
        <h3 class="subtitle is-6">Your stats</h3>
        <div class="box">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading has-text-link">Level</p>
                        <p class="title has-text-link">[[ profile.level ]]</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading has-text-primary">Uploads</p>
                        <p class="title has-text-primary">[[ profile.number_of_uploads ]]</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading  has-text-danger">Smashes</p>
                        <p class="title  has-text-danger">[[ smashesCount() ]]</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading has-text-grey-light">Total players</p>
                        <p class="title has-text-grey-light">[[ profile.players ]]</p>
                    </div>
                </div>
            </nav>
        </div>
        
        <h3 class="subtitle is-6">Your uploads</h3>
        <div class="box columns is-multiline has-text-centered">
            <div v-for="result in videos" class="column is-3" @contextmenu="rightClickVideo">
                <video id="result-{{result.web_url}}" class="video-js" controls preload="auto" width="320" height="132">
                    <source :src="result.web_url" type="video/mp4" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
        </div>
        
        <h3 class="subtitle is-6">Your smashes</h3>
        <div class="box columns is-multiline has-text-centered">
            <div v-for="result in profile.smashes" class="column is-3">
                <video id="result-{{result.web_url}}" class="video-js" controls preload="auto" width="320" height="132">
                    <source :src="result.web_url" type="video/mp4" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                    <button class="vjs-delete-button">-</button>
                </video>
            </div>
        </div>
        
        <h3 class="subtitle is-6">Your highlights</h3>
        <div class="box columns is-multiline has-text-centered">
            <div v-for="result in profile.highlights" class="column is-3">
                <video id="result-{{result.web_url}}" class="video-js" controls preload="auto" width="320" height="132">
                    <source :src="result.web_url" type="video/mp4" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                    <button class="vjs-delete-button">Delete</button>
                </video>
            </div>
        </div>
    </section>
</body>
{% else %}
<body>
    {% load static %}
    <section class="hero is-mobile is-custom-highpoint">
        <div class="hero-body has-text-centered">
            <p class="title is-size-5-mobile has-text-weight-light is-custom-highpoint">
                Upload your matches, reach your highpoint.
            </p>
        </div>
    </section>
    <video autoplay muted loop id="landing" class="pt-5 pb-5">
        <source src="{% static "video_processor/landing-video.mp4" %}" type="video/mp4">
    </video>
    <section class="hero is-mobile is-custom-highpoint is-medium">
        <div class="hero-body has-text-centered">
            <p class="title is-size-5-mobile has-text-weight-light is-custom-highpoint">
                AI that helps the average person look like a sports athlete.
            </p>
        </div>
    </section>
</body>
{% endif %}

<script>
    const { createApp } = Vue
    
    createApp({
        data() {
            return {
                videos: [],
                profile: {}
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            fetchUserContent() {
                return axios.get('/user_content/').then(response => {
                    console.log(response.data)
                    
                    this.videos = response.data.videos
                    this.videos.forEach((result) => {
                        console.log(result.web_url)
                    })
                    this.profile = response.data.profile
                    console.log("No. of uploads " + this.profile.number_of_uploads)
                    console.log("Level " + this.profile.level)
                    
                    console.log("Smashes")
                    this.profile.smashes.forEach((result) => {
                        console.log(result.web_url)
                    })
                    
                    console.log("Highlights")
                    this.profile.highlights.forEach((result) => {
                        console.log(result.web_url)
                    })
                    
                    console.log("Players " + this.profile.players)
                })
            },
            smashesCount() {
                if (this.profile !== undefined && this.profile.smashes !== undefined) {
                    return this.profile.smashes.length
                } else {
                    return 0
                }
            },
            rightClickVideo(event) {
                console.log("Right click video!" + event)
            }
        },
        created() {
            return this.fetchUserContent().then(() => {
                console.log("Page initialized")
            })
        },
    })
    .mount('#app')
</script>
{% endblock %}