{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
</head>
<body>
    <section class="is-mobile" id="app">
        <h3 class="subtitle is-6"><span class="is-color-highpoint-pink">Progress</span></h3>
        <div class="box outlined-div">
            <canvas id="progressChart"></canvas>
        </div>
        
        <h3 class="subtitle is-6"><span class="is-color-highpoint-pink">Stats</span></h3>
        <div class="box outlined-div">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading is-color-highpoint-pink">Level</p>
                        <p class="title">[[ profile.level ]]</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading is-color-highpoint-pink">Uploads</p>
                        <p class="title">[[ profile.number_of_uploads ]]</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading is-color-highpoint-pink">Smashes</p>
                        <p class="title">[[ smashesCount() ]]</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading is-color-highpoint-pink">Total players</p>
                        <p class="title">[[ profile.players ]]</p>
                    </div>
                </div>
            </nav>
        </div>
        
        {% comment %} <h3 class="subtitle is-6">Your uploads</h3>
        <div class="box columns is-multiline has-text-centered">
            <div v-for="result in videos" class="column is-3" @contextmenu="rightClickVideo">
                <video id="result-{{result.web_url}}" class="video-js" controls preload="auto" width="320" height="132">
                    <source :src="result.web_url" type="video/mp4" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
        </div> {% endcomment %}
        
        <h3 class="subtitle is-6"><span class="is-color-highpoint-pink">Smashes</span></h3>
        <div class="box columns is-multiline has-text-centered outlined-div">
            <div v-for="result in profile.smashes" class="column is-3">
                <video id="result-{{result.web_url}}" class="video-js outlined-div" controls preload="auto" width="320" height="132">
                    <source :src="result.web_url" type="video/mp4" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                    <button class="vjs-delete-button">-</button>
                </video>
            </div>
        </div>
        
        <h3 class="subtitle is-6"><span class="is-color-highpoint-pink">Highlights</span></h3>
        <div class="box columns is-multiline has-text-centered outlined-div">
            <div v-for="result in profile.highlights" class="column is-3">
                <video id="result-{{result.web_url}}" class="video-js outlined-div" controls preload="auto" width="320" height="132">
                    <source :src="result.web_url" type="video/mp4" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                    <button class="vjs-delete-button">Delete</button>
                </video>
            </div>
        </div>
    </section>
</body>
{% else %}
<body>
    <section class="is-mobile">
        <div class="columns is-mobile">
            <div class="column">
                <section class="hero is-fullheight-with-navbar">
                    <div class="hero-body">
                      <h1 style="font-size: 4rem">Your personal <span style="color: #452DE8">sports AI</span> companion.</h1>
                    </div>
                </section>
            </div>
            <div class="column is-three-fifths">
                <section class="hero is-fullheight-with-navbar">
                    <div class="hero-body">
                        {% load static %}
                        <video autoplay muted loop id="landing" class="pt-5 pb-5">
                            <source src="{% static "video_processor/landing-video.mp4" %}" type="video/mp4">
                        </video>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section class="hero is-medium is-mobile box" id="playersInfo">
        <div class="content hero-body is-large is-mobile">
            <img class="image is-64x64" src="{% static "video_processor/landing-image.png" %}" type="image/png"/>
            <h1 style="font-size: 4rem; color: #452DE8">Players</h1>
            <p>Track your progress. Keep tabs on your best plays & get coaching tips to improve your level of play.</p>
            <p><a href="{% url 'signup' %}">Sign up</a> today!</p>
        </div>
    </section>
    <section class="hero is-medium is-mobile box" id="enterprise">
        <div class="content hero-body is-large is-mobile">
            <h1 style="font-size: 4rem; color: #452DE8">API</h1>
            <p>Interested in using our APIs to process your video content?</p> 
            <p>Reach out to <a href="mailto: customers@highpoint.ai">highpoint.ai</a></p>
        </div>
    </section>
</body>
{% endif %}

<script>
    const { createApp } = Vue
    
    createApp({
        data() {
            return {
                videos: [],
                profile: {}
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            fetchUserContent() {
                return axios.get('/user_content/').then(response => {
                    console.log(response.data)
                    
                    this.videos = response.data.videos
                    this.videos.forEach((result) => {
                        console.log(result.web_url)
                    })
                    this.profile = response.data.profile
                    console.log("Profile received " + JSON.stringify(this.profile))
                    console.log("No. of uploads " + this.profile.number_of_uploads)
                    console.log("Level " + this.profile.level)
                    
                    console.log("Smashes " + this.profile.length)
                    this.profile.smashes.forEach((result) => {
                        console.log(result.web_url)
                    })
                    
                    console.log("Highlights")
                    this.profile.highlights.forEach((result) => {
                        console.log(result.web_url)
                    })
                    
                    console.log("Players " + this.profile.players)
                    
                    this.buildProgressChart(response.data.graphData)
                })
            },
            smashesCount() {
                if (this.profile !== undefined && this.profile.smashes !== undefined) {
                    return this.profile.smashes.length
                } else {
                    return 0
                }
            },
            buildProgressChart(progressData) {
                labels = []
                data = []
                
                progressData.forEach((currentValue, index, array) => {
                    console.log("Value at " + index + " is " + currentValue[0] + " - " + currentValue[1])
                    
                    const year = currentValue[0].substring(0, 4);
                    const month = currentValue[0].substring(4, 6);
                    const day = currentValue[0].substring(6, 8);
                    
                    labels.push(year + "/" + month + "/" + day)
                    data.push(currentValue[1])
                })
                
                dataset = [{
                    label: 'smashes',
                    data: data,
                    fill: false,
                    borderColor: '#452DE8',
                    cubicInterpolationMode: 'monotone',
                    borderWidth: 2
                }]
                
                const chartContext = document.getElementById("progressChart").getContext("2d")
                
                if (this.existingChart) {
                    this.existingChart.destroy()
                }
                
                const chart = new Chart(chartContext, {
                    type: "line",
                    data: {
                        labels: labels,
                        datasets: dataset,
                    },
                    options: {
                        maintainAspectRatio: false,
                        responsive: true,
                        scales: {
                            y: {
                                display: true,
                                beginAtZero: true,
                            },
                        },
                        interaction: {
                            mode: 'nearest', // Enable nearest point detection
                            intersect: false
                        },
                        zoom: {
                            pinch: {
                                enabled: true // Enable pinch to zoom
                            },
                            wheel: {
                                enabled: true // Enable zooming with mouse wheel
                            },
                            mode: 'xy'
                        },
                        plugins: {
                            title: {
                                display: false,
                                text: 'Smashes',
                                font: {
                                    size: 16,
                                    weight: 'normal'
                                }
                            },
                            legend: {
                                display: false // Hide the legend
                            },
                        },
                        
                    }
                })
                chart.update()
                this.existingChart = chart
            },
            rightClickVideo(event) {
                console.log("Right click video!" + event)
            }
        },
        created() {
            return this.fetchUserContent().then(() => {
                console.log("Home page initialized")
            })
        },
    })
    .mount('#app')
</script>
{% endblock %}