{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <section class="is-mobile" id="app">
        <div class="container">
            
            <!-- Processing modal -->
            <div class="modal" id="processingModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Processing match…</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                        <div class="modal-body">
                            <div class="block is-centered is-small">
                                <progress class="progress is-small mt-5 is-info" :value.prop="progress" max="100"> [[ progress ]] </progress>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <!--End of processing modal-->
            
            <div class="box">
                <div class="block file is-link is-flex is-centered">
                    <label class="file-label">
                        <input class="file-input" type="file" ref="file" @change="selectFile" data-toggle="modal" data-target="#processingModal" multiple>
                        
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Upload your video…
                            </span>
                        </span>
                    </label>
                </div>
                
                <div class="columns is-centered">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-small" type="url" ref="videoUrl" placeholder="or add a link to Youtube" @keyup.enter="downloadLink">
                        <span class="icon is-small is-left">
                            <i class="gg-youtube"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="box" v-show="unsupported_input">
                <article class="message is-danger">
                    <div class="message-header">
                        <p>Warning</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">Apologies, but the video you've provided features a sport that is not supported.</div>
                </article>
            </div>
            
            <div class="box" v-show="error">
                <article class="message is-danger">
                    <div class="message-header">
                        <p>Warning</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">Apologies, but the video you've provided has an error.</div>
                </article>
            </div>
            
            <div class="box" v-show="trial_over">
                <article class="message is-warning">
                    <div class="message-header">
                        <p>Trial Over</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">Please subscribe to highpoint.ai to continue uploading your matches.</div>
                </article>
            </div>
            
            <div class="box" v-show="smashes.length">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-half">
                            <canvas id="playerSpeedsChart"></canvas>
                        </div>
                    </div>
                    <div class="columns is-centered is-mobile">
                        <div class="column is-narrow has-text-centered" width="128" v-for="(image, index) in player_frames">
                            <img class="image is-96x96" style="border-radius:50%" :src="image" :alt="'Player ' + (index + 1)"/>
                            <p class="subtitle is-6">Player [[ index + 1 ]]</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="box" v-show="smashes.length">
                <div class="block">
                    <h3 class="subtitle is-6">Smashes</h3>
                    <div class="block" v-for="smash in smashes">
                        <video id="result-{{smash}}" class="video-js" controls preload="auto" width="640" height="264">
                            <source :src="smash" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>
            </div>
            
            <div class="box" v-show="highlights.length">
                <div class="block">
                    <h3 class="subtitle is-6">Match Highpoint</h3>
                    <div class="block" v-for="highlight in highlights">
                        <video id="result-{{highlight}}" class="video-js" controls preload="auto" width="640" height="264">
                            <source :src="highlight" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script>
        const { createApp } = Vue
        
        createApp({
            data() {
                return {
                    videos: [],
                    smashes: [],
                    highlights: [],
                    video_uploaded: false,
                    progress: 0,
                    unsupported_input: false,
                    trial_over: false,
                    player_frames: [],
                    error: false
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                selectFile() {
                    Array.from(this.$refs.file.files).forEach(file => {
                        this.upload(file)
                        
                        this.videos.push({
                            'name': file.name,
                            'status': 'is uploading'
                        })
                    })
                },
                async pollProgress() {
                    try {
                        // emulate a wait of 10 minutes every time (TODO)
                        count = 10 * 60
                        while ((this.progress < 1 || this.progress == undefined) && count > 0) {
                            await this.sleep(1000); // Poll every second
                            count -= 1
                        }
                        // close the modal
                        this.progress = 100
                        document.getElementById('close').click();
                    } catch (error) {
                        console.error('Error polling progress:', error);
                    }
                },
                sleep(ms) {
                    return new Promise(resolve => setTimeout(resolve, ms));
                },
                upload(file) {
                    this.pollProgress()
                    this.getUploadUrl(file)
                    .then(response => {
                        signed_url = response.data.url
                        console.log("Received " + signed_url)
                        this.performUpload(signed_url, file, event => {
                            this.video_uploaded = true
                            this.progress = Math.round((100 * event.loaded)/event.total)
                            console.log("Updating progress " + this.progress + " event " + JSON.stringify(event))
                        })
                        .catch(error => {
                            console.log("Error " + error)
                            this.progress = 0
                            this.videos.forEach(video => {
                                if (video.name === file.name) {
                                    video['status'] = 'failed'
                                }
                            })
                            this.error = true
                        })
                    })
                    .catch(error => {
                        console.log("Error " + error)
                        this.progress = 0
                        this.videos.forEach(video => {
                            if (video.name === file.name) {
                                video['status'] = 'failed'
                            }
                        })
                        this.error = true
                    })

                    /*this.performUpload(file, event => {
                        this.video_uploaded = true
                        this.progress = Math.round((100 * event.loaded)/event.total)
                        console.log("Updating progress " + this.progress + " event " + JSON.stringify(event))
                    })
                    .then(response => {
                        this.processResults(response)
                        // simulate work by setting undefined
                        this.progress = undefined
                    })
                    .catch(error => {
                        console.log("Error " + error)
                        this.progress = 0
                        this.videos.forEach(video => {
                            if (video.name === file.name) {
                                video['status'] = 'failed'
                            }
                        })
                        this.error = true
                    })*/
                },
                downloadLink() {
                    this.performDownload(this.$refs.videoUrl.value, event => {
                        this.progress = Math.round((100 * event.loaded)/event.total)
                    })
                    .then(response => {
                        this.processResults(response)
                    })
                    .catch(error => {
                        console.log("Error " + error)
                        this.progress = 0
                        this.videos.forEach(video => {
                            if (video.name === file.name) {
                                video['status'] = 'failed'
                            }
                        })
                        this.error = true
                    })
                },
                getUploadUrl(file) {
                    console.log(file.name + " " + file.type)
                    const body = {
                        fileName: file.name,
                        fileType: file.type
                    };
                    
                    return axios.post('/upload_url/', body, {
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}"
                        }
                    })
                },
                performUpload(url, file, onUploadProgress) {
                    return axios.put(url, file, {
                        headers: {
                            "Content-Type": "video/mp4",
                        },
                        onUploadProgress
                    })
                },
                performDownload(url, onUploadProgress) {
                    let formData = new FormData()
                    formData.append('web_url', url)
                    
                    return axios.post('/download_link/', formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        onUploadProgress
                    })
                },
                processSpeeds(speeds) { 
                    datasets = []
                    Object.entries(speeds).forEach(([playerId, playerSpeeds]) => {
                        datasets.push({
                            label: "Player " + playerId,
                            data: playerSpeeds
                        })
                    })
                    const [[firstPlayerId, firstPlayerSpeeds]] = Object.entries(speeds);
                    labels = firstPlayerSpeeds.map((element, index) => index)
                    return [datasets, labels]
                },
                processResults(response) {
                    const data = response.data
                    this.error = false
                    
                    if (data['success']) {                    
                        console.log(data.results)
                        results = JSON.parse(data.results)
                        
                        if (results.trial_done) {
                            this.trial_over = true
                            console.log("Free trial done, please register for a subscription.")
                        } else {
                            if (results.supported) {
                                // add group_highlights
                                console.log("Highlight " + results.group_highlight)
                                this.highlights.push(results.group_highlight)
                                
                                // add smashes
                                this.smashes = this.smashes.concat(results.smashes)
                                console.log("Smashes " + this.smashes)
                                
                                // display player speeds
                                player_speeds = results.player_speeds
                                console.log("Speeds " + player_speeds)
                                
                                const [datasets, labels] = this.processSpeeds(player_speeds)
                                const chartContext = document.getElementById("playerSpeedsChart").getContext("2d")
                                
                                this.player_frames = results.player_frames
                                console.log("Frames " + this.player_frames)
                                
                                // populate chart
                                const chart = new Chart(chartContext, {
                                    type: "line",
                                    data: {
                                        labels: labels,
                                        datasets: datasets,
                                    },
                                    options: {
                                        maintainAspectRatio: false,
                                        scales: {
                                            y: {
                                                display: false, // Set display to false to hide Y-axis values
                                                beginAtZero: true
                                            }
                                        },
                                        plugins: {
                                            title: {
                                                display: true,
                                                text: 'Player Speeds',
                                                font: {
                                                    size: 16,
                                                    weight: 'normal'
                                                }
                                            }
                                        }
                                    }
                                })
                                chart.update()
                                
                            } else {
                                this.unsupported_input = !results.supported
                            }
                        }
                    } else {
                        console.log("Failed with response " + JSON.stringify(data))
                        this.error = true
                    }
                }
            },
        })
        .mount('#app')
    </script>
</body>
{% endblock %}