{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <section class="is-mobile" id="app">
        <div class="container">
            
            <!-- Processing modal -->
            <div class="modal" id="processingModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadingTitle">Upload a video.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        
                        <div class="modal-body">
                            <label for="videoUpload" class="subtitle is-6">Progress:</label>
                            <progress id="videoUpload" class="progress is-small mt-5 is-link" :value.prop="progress" max="100"> [[ progress ]] </progress>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>  
            </div>
            <!--End of processing modal-->
            
            <!-- Upload button -->
            <div class="block">
                <div class="block file is-link is-flex is-centered">
                    <label class="file-label">
                        <input class="file-input" type="file" ref="file" @change="selectFile" data-toggle="modal" data-target="#processingModal" multiple>
                        
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Upload your video
                            </span>
                        </span>
                    </label>
                </div>
                
                {% comment %} <div class="columns is-centered">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-small" type="url" ref="videoUrl" placeholder="or add a link to Youtube" @keyup.enter="downloadLink">
                        <span class="icon is-small is-left">
                            <i class="gg-youtube"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </div>
                </div> {% endcomment %}
            </div>
            
            <!-- End of Upload button -->
            
            <!-- Progress area -->
            
            <div v-show="Object.keys(tasks_status).length">
                <div class="box media" v-for="(progress, task) in tasks_status">
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img src="https://bulma.io/images/placeholders/128x128.png">
                            <p>[[ task ]] at [[ progress ]]</p>
                        </p>
                    </figure>
                    <progress id="processingProgress" class="progress is-medium mt-5 is-link" :value.prop="progress" max="100"> [[ progress ]] </progress>
                </div>
            </div>
            
            <!-- End of Progress area -->
            
            <!-- Special message area -->

            <div class="modal" id="unsupportedInput" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadingTitle">Warning</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>Apologies, but the video you've provided features a sport that is not supported.</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal" id="videoError" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadingTitle">Warning</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>Apologies, but the video you've provided has an error.</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal" id="trialModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadingTitle">Trial over.</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div>Please subscribe to continue using our service.</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="button is-info" data-dismiss="modal">Subscribe</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- End of Special message area -->
            
            <div class="box" v-show="smashes.length">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-half">
                            <canvas id="playerSpeedsChart"></canvas>
                        </div>
                    </div>
                    <div class="columns is-centered is-mobile">
                        <div class="column is-narrow has-text-centered" width="128" v-for="(image, index) in player_frames">
                            <img class="image is-96x96" style="border-radius:50%" :src="image" :alt="'Player ' + (index + 1)"/>
                            <p class="subtitle is-6">Player [[ index + 1 ]]</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="box" v-show="smashes.length">
                <div class="block">
                    <h3 class="subtitle is-6">Smashes</h3>
                    <div class="block" v-for="smash in smashes">
                        <video id="result-{{smash}}" class="video-js" controls preload="auto" width="640" height="264">
                            <source :src="smash" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>
            </div>
            
            <div class="box" v-show="highlights.length">
                <div class="block">
                    <h3 class="subtitle is-6">Match Highpoint</h3>
                    <div class="block" v-for="highlight in highlights">
                        <video id="result-{{highlight}}" class="video-js" controls preload="auto" width="640" height="264">
                            <source :src="highlight" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <script>
        const { createApp } = Vue
        
        createApp({
            mounted() {
                this.pollInterval = setInterval(this.pollTasksInProgress, 10000)
            },
            beforeDestroy () {
                clearInterval(this.pollInterval)
            },
            data() {
                return {
                    videos: [],
                    smashes: [],
                    highlights: [],
                    video_uploaded: false,
                    progress: 0,
                    trial_over: false,
                    player_frames: [],
                    tasks_status: {},
                    pollInterval: null,
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                selectFile() {
                    Array.from(this.$refs.file.files).forEach(file => {
                        this.upload(file)
                        
                        this.videos.push({
                            'name': file.name,
                            'status': 'is uploading'
                        })
                    })
                },
                upload(file) {
                    this.getUploadUrl(file)
                    .then(response => {
                        if (response.data.trial_done) {
                            this.trial_over = true
                            console.log("Free trial done, please register for a subscription.")
                            $('#trialModal').modal('show')

                            this.closeUploader()
                            return null
                        } else { 
                            signed_url = response.data.url
                            console.log("(signed) URL for upload: " + signed_url)
                            return signed_url
                        }
                    })
                    .then(signed_url => {
                        return this.performUpload(signed_url, file, event => {
                            this.video_uploaded = true
                            this.progress = Math.round((100 * event.loaded)/event.total)
                            console.log("Updating progress " + this.progress + " event " + JSON.stringify(event))
                        })
                    })
                    .then(uploaded_url => {
                        return this.process(file)
                    })
                    .then(results => {
                        this.handleTaskSubmission(results)
                        //this.handleResults(results)
                    })
                    .catch(error => {
                        if (this.trial_over == false) {
                            console.log("Error " + error)
                            this.progress = 0
                            this.videos.forEach(video => {
                                if (video.name === file.name) {
                                    video['status'] = 'failed'
                                }
                            })
                            $('#videoError').modal('show')
                        }
                    })
                },
                downloadLink() {
                    this.performDownload(this.$refs.videoUrl.value, event => {
                        this.progress = Math.round((100 * event.loaded)/event.total)
                    })
                    .then(response => {
                        this.handleResults(response)
                    })
                    .catch(error => {
                        console.log("Error " + error)
                        this.progress = 0
                        this.closeUploader()
                        this.videos.forEach(video => {
                            if (video.name === file.name) {
                                video['status'] = 'failed'
                            }
                        })
                        $('#videoError').modal('show')
                    })
                },
                getUploadUrl(file) {
                    console.log(file.name + " " + file.type)
                    const body = {
                        fileName: file.name,
                        fileType: file.type
                    };
                    
                    return axios.post('/upload_url/', body, {
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}"
                        }
                    })
                },
                performUpload(url, file, onUploadProgress) {
                    return axios.put(url, file, {
                        headers: {
                            "Content-Type": "video/mp4",
                        },
                        onUploadProgress
                    })
                },
                process(file) {
                    const body = {
                        fileName: file.name
                    };
                    
                    return axios.post("/process/", body, {
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": "{{ csrf_token }}"
                        }
                    })
                },
                closeUploader() {
                    document.getElementById('close').click()
                },
                performDownload(url, onUploadProgress) {
                    let formData = new FormData()
                    formData.append('web_url', url)
                    
                    return axios.post('/download_link/', formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        onUploadProgress
                    })
                },
                handleSpeeds(speeds) { 
                    datasets = []
                    Object.entries(speeds).forEach(([playerId, playerSpeeds]) => {
                        datasets.push({
                            label: "Player " + playerId,
                            data: playerSpeeds
                        })
                    })
                    
                    const [[firstPlayerId, firstPlayerSpeeds]] = Object.entries(speeds);
                    labels = firstPlayerSpeeds.map((element, index) => index)
                    return [datasets, labels]
                },
                handleTaskSubmission(response) {
                    const data = response.data
                    this.closeUploader()
                    this.progress = 0
                    
                    if (data['success']) {
                        const data = response.data
                        const task = data.task
                        console.log(task)
                    } else {
                        console.log("Failed with response " + JSON.stringify(data))
                        $('#videoError').modal('show')
                    }
                },
                pollTasksInProgress() {
                    console.log("Polling for task status...")
                    axios.get('/task_status/')
                    .then(response => {
                        const data = response.data
                        const tasks = data.tasks
                        for (const [task, progress] of Object.entries(tasks)) {
                            this.tasks_status[task] = progress
                        }
                        console.log("Tasks Status updated " + JSON.stringify(this.tasks_status))
                    })
                },
                handleResults(response) {
                    const data = response.data
                    this.closeUploader()
                    
                    if (data['success']) {                    
                        console.log(data.results)
                        results = data.results
                        
                        if (results.supported) {
                            // add group_highlights
                            console.log("Highlight " + results.group_highlight)
                            this.highlights.push(results.group_highlight_url)
                            
                            // add smashes
                            this.smashes = this.smashes.concat(results.smashes_urls)
                            console.log("Smashes " + this.smashes)
                            
                            this.player_frames = results.player_frames_urls
                            console.log("Frames " + this.player_frames)
                            
                            // display player speeds
                            player_speeds = JSON.parse(results.player_speeds)
                            console.log("Speed count: " + Object.keys(player_speeds).length)
                            const [datasets, labels] = this.handleSpeeds(player_speeds)
                            const chartContext = document.getElementById("playerSpeedsChart").getContext("2d")
                            
                            // populate chart
                            const chart = new Chart(chartContext, {
                                type: "line",
                                data: {
                                    labels: labels,
                                    datasets: datasets,
                                },
                                options: {
                                    maintainAspectRatio: false,
                                    scales: {
                                        y: {
                                            display: false, // Set display to false to hide Y-axis values
                                            beginAtZero: true
                                        }
                                    },
                                    plugins: {
                                        title: {
                                            display: true,
                                            text: 'Player Speeds',
                                            font: {
                                                size: 16,
                                                weight: 'normal'
                                            }
                                        }
                                    }
                                }
                            })
                            chart.update()
                        } else {
                            $('#unsupportedInput').modal('show')
                        }
                    } else {
                        console.log("Failed with response " + JSON.stringify(data))
                        $('#videoError').modal('show')
                    }
                }
            },
        })
        .mount('#app')
    </script>
</body>
{% endblock %}