#server
Django
django-environ==0.10.0
psycopg2-binary==2.9.9
google-cloud-secret-manager==2.16.1
django-cors-headers
dj-stripe
djangorestframework
google-api-python-client

#ml
torch
numpy
opencv-python
matplotlib
scipy
tensorflow
ultralytics
lapx
openai
#pytube