{% extends 'base.html' %}

{% block content %}

<h3 class="subtitle is-6">Your stats</h3>
<canvas class="box" id="chartArea" width="100" height="100"></canvas>

<h3 class="subtitle is-6">Your videos</h3>
<section class="box columns is-multiline has-text-centered is-mobile" id="app">
    <div v-for="result in content" class="column">
        <video
        id="result-{{result.location}}"
        class="video-js"
        controls
        preload="auto"
        width="320"
        height="132">
        <source :src="result" type="video/mp4" />
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
</div>
</section>

<script>
    const { createApp } = Vue
    createApp({
        data() {
            return {
                content: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            fetchUserContent() {
                return axios.get('/user_content/').then(response => {
                    this.content = response.data.content
                    console.log(response)
                    this.content.forEach((result) => {
                        console.log(result.location)
                    })
                })
            }
        },
        created() {
            return this.fetchUserContent().then(() => {
                console.log("Page initialized")
            })
        },
    })
    .mount('#app')
</script>
{% endblock %}