{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <section class="is-mobile" id="app">
        <div class="box">
            <h3 class="subtitle is-6">Your stats</h3>
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Uploads</p>
                        <p class="title">[[ profile.number_of_uploads ]]</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Level</p>
                        <p class="title">[[ profile.level ]]</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Smashes</p>
                        <p class="title">[[ smashesCount() ]]</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Total players</p>
                        <p class="title">[[ profile.players ]]</p>
                    </div>
                </div>
            </nav>
        </div>
        <div class="box columns is-multiline has-text-centered">
            <h3 class="subtitle is-6">Your uploads</h3>
            <div v-for="result in videos" class="column is-3">
                <video id="result-{{result.filesystem_url}}" class="video-js" controls preload="auto" width="320" height="132">
                    <source :src="result.filesystem_url" type="video/mp4" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
        </div>
        
        <div class="box columns is-multiline has-text-centered">
            <h3 class="subtitle is-6">Your smashes</h3>
            <div v-for="result in profile.smashes" class="column is-3">
                <video id="result-{{result.filesystem_url}}" class="video-js" controls preload="auto" width="320" height="132">
                    <source :src="result.filesystem_url" type="video/mp4" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
        </div>
        
        <div class="box columns is-multiline has-text-centered">
            <h3 class="subtitle is-6">Your highlights</h3>
            <div v-for="result in profile.highlights" class="column is-3">
                <video id="result-{{result.filesystem_url}}" class="video-js" controls preload="auto" width="320" height="132">
                    <source :src="result.filesystem_url" type="video/mp4" />
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
        </div>
    </section>
</body>
{% else %}
<body>
</body>
{% endif %}

<script>
    const { createApp } = Vue
    
    createApp({
        data() {
            return {
                videos: [],
                profile: {}
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            fetchUserContent() {
                return axios.get('/user_content/').then(response => {
                    console.log(response.data)
                    
                    this.videos = response.data.videos
                    this.videos.forEach((result) => {
                        console.log(result.filesystem_url)
                    })
                    this.profile = response.data.profile
                    console.log("No. of uploads " + this.profile.number_of_uploads)
                    console.log("Level " + this.profile.level)
                    
                    console.log("Smashes")
                    this.profile.smashes.forEach((result) => {
                        console.log(result.filesystem_url)
                    })
                    
                    console.log("Highlights")
                    this.profile.highlights.forEach((result) => {
                        console.log(result.filesystem_url)
                    })
                    
                    console.log("Players " + this.profile.players)
                })
            },
            smashesCount() {
                if (this.profile !== undefined && this.profile.smashes !== undefined) {
                    return this.profile.smashes.length
                } else {
                    return 0
                }
            }
        },
        created() {
            return this.fetchUserContent().then(() => {
                console.log("Page initialized")
            })
        },
    })
    .mount('#app')
</script>
{% endblock %}