{% extends 'base.html' %}

{% block content %}
<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="https://vjs.zencdn.net/8.6.1/video.min.js"></script>
    
    <section class="box is-mobile has-text-centered" id="app">
        <div class="block file is-link is-normal is-outlined is-centered">
            <label class="file-label">
                <input class="file-input" type="file" ref="file" @change="selectFile" multiple>
                
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Upload your video…
                    </span>
                </span>
            </label>
        </div>
        
        <div class="block container is-centered level">
            <p class="control has-icons-left has-icons-right level-item">
                <input class="input is-link is-small" type="url" ref="videoUrl" placeholder="Or Youtube Link" @keyup.enter="downloadLink">
                <span class="icon is-small is-left">
                    <i class="gg-youtube"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </p>
        </div>
        
        <article class="message is-danger" v-if="unsupported_input">
            <div class="message-header">
                <p>Warning</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">Apologies, but the video you've provided features a sport that is not supported.</div>
        </article>
        
        
        {% comment %} <div class="block is-centered is-small" v-if="videos.length">
            <progress class="progress is-small mt-5" :value="progress" max="100"> [[ progress ]] </progress>
        </div> {% endcomment %}
        
        <div class="block">
            <h3 class="title smash" v-if="smashes.length">Smashes:</h3>
            <div v-for="smash in smashes">
                <video
                id="result-{{smash.name}}"
                class="video-js"
                controls
                preload="auto"
                width="640"
                height="264">
                <source :src="smash" type="video/mp4" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
        
        <div class="block">
            <h3 class="title group-highlight" v-if="highlights.length">Highlight:</h3>
            <div v-for="highlight in highlights">
                <video
                id="result-{{highlight.name}}"
                class="video-js"
                controls
                preload="auto"
                width="640"
                height="264">
                <source :src="highlight" type="video/mp4" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
    </section>
    
    <canvas id="chartArea" width="100" height="100"></canvas>
    
    <script>
        const { createApp } = Vue
        
        let chartContext = document.getElementById("chartArea").getContext("2d")
        
        createApp({
            data() {
                return {
                    videos: [],
                    smashes: [],
                    highlights: [],
                    progress: 0,
                    unsupported_input: false,
                }
            },
            delimiters: ['[[', ']]'],
            methods: {
                selectFile() {
                    Array.from(this.$refs.file.files).forEach(file => {
                        this.upload(file)
                        
                        this.videos.push({
                            'name': file.name,
                            'status': 'is uploading'
                        })
                    })
                },
                upload(file) {
                    this.performUpload(file, event => {
                        this.progress = Math.round((100 * event.loaded)/event.total)
                    })
                    .then(response => {
                        this.processResults(response)
                    })
                    .catch(error => {
                        console.log("Error " + error)
                        this.progress = 0
                        this.videos.forEach(video => {
                            if (video.name === file.name) {
                                video['status'] = 'failed'
                            }
                        })
                    })
                },
                downloadLink() {
                    this.performDownload(this.$refs.videoUrl.value, event => {
                        this.progress = Math.round((100 * event.loaded)/event.total)
                    })
                    .then(response => {
                        this.processResults(response)
                    })
                    .catch(error => {
                        console.log("Error " + error)
                        this.progress = 0
                        this.videos.forEach(video => {
                            if (video.name === file.name) {
                                video['status'] = 'failed'
                            }
                        })
                    })
                },
                performUpload(file, onUploadProgress) {
                    let formData = new FormData()
                    formData.append('location', file)
                    
                    return axios.post('/upload/', formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        onUploadProgress
                    })
                },
                performDownload(url, onUploadProgress) {
                    let formData = new FormData()
                    formData.append('video_url', url)
                    
                    return axios.post('/download_link/', formData, {
                        headers: {
                            "Content-Type": "multipart/form-data",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        onUploadProgress
                    })
                },
                processResults(response) {
                    const data = response.data
                    if (data['success']) {                    
                        console.log(data.results)
                        
                        if (data.results.supported) {
                            // add group_highlights
                            this.highlights.push(data.results.group_highlight)
                            
                            // add smashes
                            this.smashes = this.smashes.concat(data.results.smashes)
                            
                            // populate chart
                            let chart = new Chart(chartContext, {
                                type: "line",
                                // TODO: Pass speeds
                                data:[{x: 0, y: 5}, {x: 1, y: 15}],
                                options: {
                                    scales: {
                                        x: {
                                            type: 'linear',
                                            position: 'bottom'
                                        }
                                    }
                                }
                            })
                            
                        } else {
                            this.unsupported_input = !data.results.supported
                        }
                    } else {
                        console.log("Failed with response " + response)
                    }
                }
            }
        })
        .mount('#app')
    </script>
</body>
{% endblock %}